<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.pyaraislam.islamicapp.GoldPrice"
            android:exported="false" />
        <activity
            android:name="com.pyaraislam.islamicapp.zakat.ZakatCalculator"
            android:exported="false" />
        <activity
            android:name="com.pyaraislam.islamicapp.Settings"
            android:exported="false" />
        <activity
            android:name="com.pyaraislam.islamicapp.namaz.ghusl"
            android:exported="false" />
        <activity
            android:name="com.pyaraislam.islamicapp.namaz.namaz_proc"
            android:exported="false" />
        <activity
            android:name="com.pyaraislam.islamicapp.reels.reels"
            android:exported="false" />
        <activity
            android:name="com.pyaraislam.islamicapp.posts"
            android:exported="false" />
        <activity
            android:name="com.pyaraislam.islamicapp.Waqiah"
            android:exported="false" />
        <activity
            android:name="com.pyaraislam.islamicapp.ImageViewerActivity"
            android:exported="false" />
        <activity
            android:name="com.pyaraislam.islamicapp.Wallpaper"
            android:exported="false" />
        <activity
            android:name="com.pyaraislam.islamicapp.dua.health_more"
            android:exported="false" />
        <activity
            android:name="com.pyaraislam.islamicapp.dua.prayer"
            android:exported="false" />
        <activity
            android:name="com.pyaraislam.islamicapp.arabic_quran"
            android:exported="false"
            android:label="@string/title_activity_arabic_quran"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pyaraislam.islamicapp.SalatSettings"
            android:exported="false" />
        <activity
            android:name="com.pyaraislam.islamicapp.QiblaFinder"
            android:exported="false" />
        <activity android:name="com.pyaraislam.islamicapp.dua.daytoday" />
        <activity android:name="com.pyaraislam.islamicapp.dua.MainActivityDua" />
        <activity android:name="com.pyaraislam.islamicapp.namaz.rakats" />
        <activity android:name="com.pyaraislam.islamicapp.namaz.Wuzu" />
        <activity android:name="com.pyaraislam.islamicapp.Namaz" />
        <activity android:name="com.pyaraislam.islamicapp.Quran" />
        <activity android:name="com.pyaraislam.islamicapp.Tasbih" />
        <activity
            android:name="com.pyaraislam.islamicapp.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pyaraislam.islamicapp.MainActivity"/>
    </application>

</manifest>